body {
    background-color: black;
}
div.primary-text{
    text-align: center;
    width:100%;
    padding: 20px;
}

.primary-text h1{
    color:white;
    font-size: 3em;
}

.primary-text p{
    color: rgba(255,170,0,1);
    font-weight: 900;
    line-height: 2em;
    font-size: 1.5em;
}

#prime{
    margin-top: 80vh;
}

.full-screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: -999;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#logo-box {
    height: 0px;
    position: relative;
    z-index: 1;
}

#logo-box img {
    max-width: 600px;
    width: 90vw;
}

#title-box img{
    width: 550px;
    margin-top: -135px;
}

#clip-box {
    background-image: url('../img/BW_Pattern.gif');
    background-repeat:repeat;
    padding:0px;
    width: 100%;
    clip-path: polygon(40% 26%, 59% 25%, 77% 19%, 90% 10%, 100% 0, 100% 100%, 0 100%, 0 0, 8% 11%, 22% 21%);
}

#black-box{
    background-color: black;
    height:500px;
}