{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- templtes/demo.html -->
<!-- The video -->

<div id="videoback">
    <video autoplay muted loop id="bgvideo">
        <source src="https://ocuwebsite.blob.core.windows.net/public-dev/admin/img/BackgroundVideo0709.mp4" type="video/mp4">
    </video>
</div>
<div id="box"></div>
<div id="box2"></div>

<div id="prime" class="fluid-container">
    <div class="row prime-top-row">
        <div class="col-12 col-sm-5  d-flex flex-column justify-content-center">
            <div><img src="{% static 'img/InfernalMisfitsWords_NoOutline_400w.png' %}">
                <div id="mini-menu">
                    <a class="btn btn-primary btn-sm elite-font" href="#about"><span>ABOUT</span></a>
                    <a class="btn btn-primary btn-sm elite-font" href="#team"><span>TEAM</span></a>
                    <a class="btn btn-primary btn-sm elite-font" href="#mission"><span>MISSION</span></a>
                    <a class="btn btn-primary btn-sm elite-font" href="#dates"><span>DATES</span></a>
                    <a class="btn btn-primary btn-sm elite-font" href="#connect"><span>CONNECT</span></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-2 d-flex flex-column justify-content-center"><div class="pt-5 p-sm-0"><a href="https://www.nexusgamingseries.org/"><img src="https://www.nexusgamingseries.org/assets/Lettermark.png"></a></div></div>
        <div class="col-12 col-sm-5 -flex flex-column justify-content-center"><div><a href="https://heroesofthestorm.com/en-us/"><img src="{% static 'img/Heroes_Of_The_Storm_400w.png' %}"></a></div></div>
    </div>
    <div class="row"><div id="top-spacer" class="col-12"></div></div>
    <div class="row">
        <section id="about">
            <h2>about</h2>
            <div class="row">
                <div class="col-12"><p>Infernal Misfits is the <i><b>low-key</b></i>&nbsp; off-shoot team of <a href="http://www.infernalaffairs.org">Infernal Affairs</a>.</p><p>N8THANAEL joined up with WYAGON to find more like-minded players who want to have fun, improve, and cause mischief in the Nexus.</p></div>
            </div>
        </section>
        <section id="team">
            <h2>team</h2>
            <div class="row pb-2">
                <div class="col-6 text-end"><img src="{% static 'img/teamBadge_N8thanael.png' %}"></div>
                <div class="col-6 text-start d-flex justify-content-center flex-column">
                    <div><span class="bg-dark py-1 px-2 d-inline">N8THANAEL Captain</span><br>Roles: Tank, Off-Lane, Fill<br>SL Rank: Silver<br><a href="https://www.heroesprofile.com/Profile/?blizz_id=8167860&battletag=n8thanael&region=1">Profile</a></div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-6 text-end"><img src="{% static 'img/teamBadge_Wyagon.png' %}"></div>
                <div class="col-6 text-start d-flex justify-content-center flex-column">
                    <div><span class="bg-dark py-1 px-2 d-inline">WYAGON</span><br>Roles: Support, Healer, Damage, Fill<br>SL Rank: Bronze/Sliver<br><a href="https://www.heroesprofile.com/Profile/?blizz_id=8961870&battletag=WYAGON&region=1">Profile</a></div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-6 text-end"><img src="{% static 'img/teamBadge_Skillz912.png' %}"></div>
                <div class="col-6 text-start d-flex justify-content-center flex-column">
                    <div><span class="bg-dark py-1 px-2 d-inline">SKILLZ912</span><br>Roles: Damage, Off-Lane<br>SL Rank: Sliver<br><a href="https://www.heroesprofile.com/Profile/?blizz_id=10299099&battletag=Skillz912&region=1">Profile</a></div>
            </div>
            </div>
            <div class="row pb-2">
                <div class="col-6 text-end"><img src="{% static 'img/teamBadge_JoeDImmortal.png' %}"></div>
                <div class="col-6 text-start d-flex justify-content-center flex-column">
                    <div><span class="bg-dark py-1 px-2 d-inline">JoeDImmortal</span><br>Roles: Tank, Healer, Ranged Damage<br>SL Rank: Sliver<br><a href="https://www.heroesprofile.com/Profile/?blizz_id=5017679&battletag=JoeDImmortal&region=1">Profile</a></div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-6 text-end"><img src="{% static 'img/teamBadge_LoneWolf.png' %}"></div>
                <div class="col-6 text-start d-flex justify-content-center flex-column">
                    <div><span class="bg-dark py-1 px-2 d-inline">LoneWolf</span><br>Roles: Fill, Healer, Off-Lane, Off-Lane<br>SL Rank: Sliver<br><a href="https://www.heroesprofile.com/Profile/?blizz_id=6987080&battletag=LONEWOLF&region=1">Profile</a></div>
                </div>
            </div>

            <div class="row pb-2">
                <div class="col-6 text-end"><img src="{% static 'img/teamBadge_Haylo.png' %}"></div>
                <div class="col-6 text-start d-flex justify-content-center flex-column">
                    <div><span class="bg-dark py-1 px-2 d-inline">Haylo, Sub</span><br>Roles: Fill, Healer, Ranged Damage, Off-Lane<br>SL Rank: Sliver<br><a href="https://www.heroesprofile.com/Profile/?blizz_id=8168152&battletag=Haylo&region=1">Profile</a></div>
                </div>
            </div>
        </section>
        <section id="mission">
            <h2>mission</h2>
            <div class="row">
                <div class="col-12 text-start">
                    <h3>IMPROVE AS TEAMMATES &<br> HAVE FUN CAUSING MAYHEM</h3>
                    <p>We prize cooperation, positivity, and patience.  We know we're in the lower bracket and understand these 3 attributes are necessary at this stage of the game.  To achieve our team mission our team policies are:</p>
                    <div class="ps-5">
                        <p></span><span class="bg-dark py-1 px-2 d-inline">A:)&nbsp;</span><i>ONE</i> &nbsp;Mandatory practice per-week.  A second volunteer practice will be scheduled but is not required.  On weeks when a competative match is scheduled, there will <i>not</i> be a mandatory practice.</p>
                        <p><span class="bg-dark py-1 px-2 d-inline">B:)&nbsp;</span>Complaints, "Schooling" and "Advice" directed towards individual players about builds, strategy, play styles etc. are certainly welcome WITH RESPECT.  They will be funneled through direct message to N8THANAEL the team captain after every match.  Frustrations during play are common, but are more productive for the wholeteam if handled with patience after games or before practices.<br>Game-Time is Fun-Time.</p>
                        <p><span class="bg-dark py-1 px-2 d-inline">C:)&nbsp;</span>It is more important in our minds to find the best personalities that can succeed together as a team.  After this is achieved then we hope to find and practice the most effective strategies together as a team.</p>
                        <p><span class="bg-dark py-1 px-2 d-inline">D:)&nbsp;</span>Given we are in Bronze/Silver/Gold we feel "coms" and coordination are more valuable to winning a game than hard-setting roles or drafting meta-only heroes.  Therefore your cooperation, positivity, and patience are more valuable to the team than your win-rate, hero-pool and individual skill level.</p>
                        <p><span class="bg-dark py-1 px-2 d-inline">E:)&nbsp;</span>"Try-hards" and "know-it-alls" simply need to find a different team.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="dates">
            <h2>dates</h2>
            <div class="row">
                <div class="col-12"><p>Manditory practices currenlty: <span class="bg-dark py-1 px-2 d-inline">8:30pm EST every tuesday</span></p></div>
                <div class="col-12"><p>Voluntary practices: <span class="bg-dark py-1 px-2 d-inline">Saturday/Sunday night</span></p></div>
                <div class="col-12"><p>Hoping to have our first team in time for NGS Season 14: <span class="bg-dark py-1 px-2 d-inline">08 August 2022</span></p></div>
            </div>
        </section>
        <section id="connect">
            <h2>connect</h2>
            <div class="row">
                <div class="col-12 col-md-6 m-auto"><p>Blizzard Battle.net</p><p><img src="{% static 'img/Step2.png' %}"><br><br>Let's Play!</p></div>
            </div>
        </section>
    </div>

</div>

{% endblock %}