.aaron{
    div.aaron-button{
        background-color:black;
        position:fixed;
        top:0px;
        bottom:0px;
        color:white;
        text-align:center;
        font-weight: 900;
        transition: 1s;
        opacity:0.2;
        .title{
            position: absolute;
            z-index: 1;
            width: 100%;
            top:3vh;
            font-size:2em;
            width:100%;
        }

        .image img{
            width:100%
        }
    }
    div.aaron-button:hover{
        opacity:1;
    }

    div.aaron-button.left{
        left: 0vw;
        right: 50vw;
    }
    div.aaron-button.right{
        left: 50vw;
        right: 0vw;
    }

    div.aaron-button.playing{
        left: 0vw;
        right: 0vw;
        z-index:2;
        opacity: 1;
    }

    .playing > .image > img {
        margin-top: -30vh;
    }

}
