.aaron{
    .aaron-button{
        position:relative;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        color:white;
        text-align:center;
        font-size:5em;
        font-weight: 900;
    }
    .left{
        background-color: rgb(17, 17, 95);
    }
    .right{
        background-color: rgb(8, 68, 8);
    }
}