.aaron{
    .aaron-button{
        position:absolute;
 
        color:white;
        text-align:center;
        font-size:5em;
        font-weight: 900;
    }
    .aaron-button.left{
        background-color: rgb(17, 17, 95);
        left: 0vw;
        right: 50vw;
        top:0px;
        bottom:0px;
    }
    .aaron-button.right{
        background-color: rgb(8, 68, 8);
        left: 50vw;
        right: 100vw;
        top:0px;
        bottom:0px;
    }
}